<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>Home</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>loginser</display-name>
    <servlet-name>loginser</servlet-name>
    <servlet-class>loginser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginser</servlet-name>
    <url-pattern>/loginser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Regser</display-name>
    <servlet-name>Regser</servlet-name>
    <servlet-class>Regser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Regser</servlet-name>
    <url-pattern>/Regser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CoustermerReg</display-name>
    <servlet-name>CoustermerReg</servlet-name>
    <servlet-class>CoustermerReg</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CoustermerReg</servlet-name>
    <url-pattern>/CoustermerReg</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Admin</display-name>
    <servlet-name>Admin</servlet-name>
    <servlet-class>Admin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Admin</servlet-name>
    <url-pattern>/Admin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Adminvalidation</display-name>
    <servlet-name>Adminvalidation</servlet-name>
    <servlet-class>Adminvalidation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Adminvalidation</servlet-name>
    <url-pattern>/Adminvalidation</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Adminreg</display-name>
    <servlet-name>Adminreg</servlet-name>
    <servlet-class>Adminreg</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Adminreg</servlet-name>
    <url-pattern>/Adminreg</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteUserId</display-name>
    <servlet-name>DeleteUserId</servlet-name>
    <servlet-class>DeleteUserId</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteUserId</servlet-name>
    <url-pattern>/DeleteUserId</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditCoustermerDetiles</display-name>
    <servlet-name>EditCoustermerDetiles</servlet-name>
    <servlet-class>EditCoustermerDetiles</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditCoustermerDetiles</servlet-name>
    <url-pattern>/EditCoustermerDetiles</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Delete</display-name>
    <servlet-name>Delete</servlet-name>
    <servlet-class>Delete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Delete</servlet-name>
    <url-pattern>/Delete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HA</display-name>
    <servlet-name>HA</servlet-name>
    <servlet-class>HA</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HA</servlet-name>
    <url-pattern>/HA</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Edit</display-name>
    <servlet-name>Edit</servlet-name>
    <servlet-class>Edit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Edit</servlet-name>
    <url-pattern>/Edit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditUser</display-name>
    <servlet-name>EditUser</servlet-name>
    <servlet-class>EditUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditUser</servlet-name>
    <url-pattern>/EditUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>forgotpassword</display-name>
    <servlet-name>forgotpassword</servlet-name>
    <servlet-class>forgotpassword</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>forgotpassword</servlet-name>
    <url-pattern>/forgotpassword</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>forgot</display-name>
    <servlet-name>forgot</servlet-name>
    <servlet-class>forgot</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>forgot</servlet-name>
    <url-pattern>/forgot</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Forgotpassword</display-name>
    <servlet-name>Forgotpassword</servlet-name>
    <servlet-class>Forgotpassword</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Forgotpassword</servlet-name>
    <url-pattern>/Forgotpassword</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>forgotpassword1</display-name>
    <servlet-name>forgotpassword1</servlet-name>
    <servlet-class>forgotpassword</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>forgotpassword1</servlet-name>
    <url-pattern>/forgotpassword1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Forgotpassword1</display-name>
    <servlet-name>Forgotpassword1</servlet-name>
    <servlet-class>Forgotpassword1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Forgotpassword1</servlet-name>
    <url-pattern>/Forgotpassword1</url-pattern>
  </servlet-mapping>
</web-app>